@model ExecutionRequestModel

<div class="rom-selection k-content">

    <h4>Manufacturer:</h4>
    @Html.DropDownListFor(model => model.RomCascadeListModel.ManufacturerId, Model.RomCascadeListModel.AvailableManufacturers)

    <input id="manufacturers" style="width: 100%;"/>

    <h4 style="margin-top: 2em;">Model:</h4>
    <input id="models" disabled="disabled" style="width: 100%;"/>

    <h4 style="margin-top: 2em;">Country:</h4>
    <input id="country" disabled="disabled" style="width: 100%;"/>
</div>
<script>
    $(document).ready(function() {
        var manufacturers = $("#manufacturers").kendoDropDownList({
            optionLabel: "Select manufacturer...",
            dataTextField: "Name",
            dataValueField: "Id",
            dataSource: {
                type: "json",
                serverFiltering: true,
                transport: {
                    read: {
                        url: "/ArcTool/api/rom"
                    }
                }
            }
        }).data("kendoDropDownList");

        var models = $("#models").kendoDropDownList({
            autoBind: false,
            cascadeFrom: "manufacturers",
            optionLabel: "Select model...",
            dataTextField: "Name",
            dataValueField: "Id",
            dataSource: {
                type: "json",
                serverFiltering: true,
                transport: {
                    read: "/ArcTool/api/rom/GetModelsByManufacturerId"
                }
            }
        }).data("kendoDropDownList");
    });
</script>